rsa-key-size = 4096
server = {{ mailserver_letsencrypt_server }}
authenticator = standalone
email = {{ mailserver_letsencrypt_email }}
keep = True
expand = True
agree-tos = True
non-interactive = True
