{% if postfix_smtp_relay_sasl_credentials is defined and postfix_smtp_relay_sasl_credentials|length and postfix_smtp_relay_host_name is defined and postfix_smtp_relay_host_name|length %}
[{{ postfix_smtp_relay_host_name }}]:{{ postfix_smtp_relay_host_port | default(25) }} {{ postfix_smtp_relay_sasl_credentials }}
{% endif %}


