{% for virtual_domain in mailserver_virtual_domains %}
default._domainkey.{{ virtual_domain.name }} {{ virtual_domain.name }}:default:/etc/dkimkeys/{{ virtual_domain.name }}/default.private
{% endfor %}
